<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
	<backgroundcolor>0</backgroundcolor>
	<allowoverlay>true</allowoverlay>
	<defaultcontrol always="true">60</defaultcontrol>

	<controls>

		<!-- Background -->

		<include>Global_Background</include>

		<!-- Browser -->

		<control type="group" id="5000">
			<posy>Offset_Value</posy>
			<include>Animation_ZoomedByMenu</include>
			<include>Animation_ZoomInZoomOut</include>

			<control type="panel" id="60">
				<posx>300</posx>
				<posy>300</posy>
				<width>900</width>
				<height>1200</height>
				<onleft>60</onleft>
				<onright>60</onright>
				<onup>60</onup>
				<ondown>60</ondown>
				<scrolltime tween="sine" easing="out">400</scrolltime>
				<viewtype label="536">icon</viewtype>
				<include>Animation_SettingsFloat</include>

				<itemlayout height="300" width="300">
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>300</width>
						<height>300</height>
						<texture>$INFO[ListItem.Icon]</texture>
						<animation type="Conditional" condition="true">
							<effect type="zoom" start="80" end="80" center="auto" time="300" tween="cubic" easing="in" />
							<effect type="fade" start="40" end="40" time="300" />
						</animation>
					</control>
				</itemlayout>

				<focusedlayout height="300" width="300">
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>300</width>
						<height>300</height>
						<texture>$INFO[ListItem.Icon]</texture>
						<animation type="Focus" reversible="false">
							<effect type="zoom" start="80" end="100" center="auto" time="300" tween="cubic" easing="in" />
							<effect type="fade" start="40" end="100" time="300" />
						</animation>
					</control>
				</focusedlayout>

				<content>

					<item id="1">
						<!-- Video -->
						<icon>settings/Settings_Video.png</icon>
						<onclick>ActivateWindow(VideosSettings)</onclick>
					</item>
					<item id="2">
						<!-- Music -->
						<icon>settings/Settings_Music.png</icon>
						<onclick>ActivateWindow(MusicSettings)</onclick>
					</item>
					<item id="3">
						<!-- Pictures -->
						<icon>settings/Settings_Pictures.png</icon>
						<onclick>ActivateWindow(PicturesSettings)</onclick>
					</item>
					<item id="4">
						<!-- Add-ons -->
						<icon>settings/Settings_Addons.png</icon>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
					</item>
					<item id="5">
						<!-- Weather -->
						<icon>settings/Settings_Weather.png</icon>
						<onclick>ActivateWindow(WeatherSettings)</onclick>
					</item>
					<item id="6">
						<!-- Service -->
						<icon>settings/Settings_Network.png</icon>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
					</item>
					<item id="7">
						<!-- System -->
						<icon>settings/Settings_System.png</icon>
						<onclick>ActivateWindow(SystemSettings)</onclick>
					</item>
					<item id="8">
						<!-- Profiles -->
						<icon>settings/Settings_Profiles.png</icon>
						<onclick>ActivateWindow(Profiles)</onclick>
					</item>
					<item id="9">
						<!-- File manager -->
						<icon>settings/settings_file_manager.png</icon>
						<onclick>ActivateWindow(filemanager)</onclick>
					</item>
					<item id="10">
						<!-- System info -->
						<icon>settings/Settings_System_Info.png</icon>
						<onclick>ActivateWindow(systeminfo)</onclick>
					</item>
					<item id="11">
						<!-- Appearance -->
						<icon>settings/Settings_Appearance.png</icon>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
					</item>
					<item id="12">
						<!-- PVR -->
						<icon>settings/Settings_PVR.png</icon>
						<onclick>ActivateWindow(PVRSettings)</onclick>
					</item>

				</content>

			</control>

		</control>

		<!-- Filter -->

		<include>Settings_Filter</include>

		<!-- Titles and descriptions -->

		<control type="group" id="5000">
			<posy>Offset_Value</posy>
			<include>Animation_ZoomedByMenu</include>

			<!-- Video -->
			
			<control type="group">
				<posx>195</posx>
				<posy>315</posy>
				<visible>Container(60).HasFocus(1)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>157</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>31128</label>
				</control>
			</control>

			<!-- Music -->
			
			<control type="group">
				<posx>128</posx>
				<posy>315</posy>
				<visible>Container(60).HasFocus(2)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>10005</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>31131</label>
				</control>
			</control>

			<!-- Pictures -->
			
			<control type="group">
				<posx>1320</posx>
				<posy>615</posy>
				<visible>Container(60).HasFocus(3)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>1213</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>31134</label>
				</control>
			</control>

			<!-- Add-ons -->
			
			<control type="group">
				<posx>195</posx>
				<posy>270</posy>
				<visible>Container(60).HasFocus(4)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>24001</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>31129</label>
				</control>
			</control>

			<!-- Weather -->
			
			<control type="group">
				<posx>128</posx>
				<posy>270</posy>
				<visible>Container(60).HasFocus(5)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>8</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>31132</label>
				</control>
			</control>

			<!-- Services -->
			
			<control type="group">
				<posx>1320</posx>
				<posy>570</posy>
				<visible>Container(60).HasFocus(6)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>14036</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>31135</label>
				</control>
			</control>

			<!-- System -->
			
			<control type="group">
				<posx>195</posx>
				<posy>225</posy>
				<visible>Container(60).HasFocus(7)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>13000</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>31130</label>
				</control>
			</control>

			<!-- Profiles -->
			
			<control type="group">
				<posx>128</posx>
				<posy>225</posy>
				<visible>Container(60).HasFocus(8)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>13200</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>31137</label>
				</control>
			</control>
			
			<!-- File manager -->
			
			<control type="group">
				<posx>1320</posx>
				<posy>525</posy>
				<visible>Container(60).HasFocus(9)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>7</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>31136</label>
				</control>
			</control>

			<!-- System info -->
			
			<control type="group">
				<posx>195</posx>
				<posy>180</posy>
				<visible>Container(60).HasFocus(10)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>130</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>31139</label>
				</control>
			</control>

			<!-- Appearance -->
			
			<control type="group">
				<posx>128</posx>
				<posy>180</posy>
				<visible>Container(60).HasFocus(11)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>480</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>31133</label>
				</control>
			</control>

			<!-- PVR -->
			
			<control type="group">
				<posx>1320</posx>
				<posy>480</posy>
				<visible>Container(60).HasFocus(12)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>31161</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>31138</label>
				</control>
			</control>

		</control>

	</controls>

</window>